.page-header {
  position: fixed;
  top: 0;
  padding: 10px 0;
  background-color: transparent;
  z-index: 99;
  max-width: 668px;
  width: 100%;
  backdrop-filter: blur(10px);
}

.publish-renderer {
  margin-top: 3rem;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #111;
  z-index: 99;
}
