/* [data-callout='note'] .callout-title-inner {
  color: #fff;
} */

.callout {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0 !important;
  background-color: #fff;
}

.callout-title {
  background-color: #fff;
  border-bottom: 1px solid #fff !important;
}

.callout-content {
  background-color: #fff !important;
  border-radius: 0.5rem !important;
  border: none !important;
}
