/* LEFT SIDE Click Item */
/* Folder Naviagtion */

.workspace-leaf:first-child .is-clickable:hover {
  background-color: #0000009f !important;
  color: #fff !important;
}

.workspace-leaf:first-child .is-active {
  background-color: #000;
  color: #fff;
}

/* Right Side Click Item */
/* Markdown Navigation */

.workspace-leaf:last-child .is-clickable {
  transition: 0.5s all;
}

.workspace-leaf:last-child .is-clickable:hover {
  transition: 0.5s all;
  background-color: #000;
  color: #fff;
}

.workspace-leaf:last-child .is-active {
  font-weight: 800;
}

.workspace-leaf:last-child .is-clickable {
  transition: 0.5s all;
}

.workspace-leaf:last-child .is-clickable:hover {
  font-weight: 800 !important;
}
