.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  background-color: transparent;
  border: none;
}

.workspace-split.mod-left-split > .workspace-leaf-resize-handle:hover,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle:hover {
  background-color: #dcdcdc;
  border: none;
}

.workspace-tabs mod-top mod-top-right-space mod-active {
  background-color: #222 !important;
  color: #f4f1f1 !important;
}

/* ===== snappier animations ==== */
.workspace-tab-header,
.workspace-tab-header-inner,
.workspace-tab-container-before,
.workspace-tab-container-after {
  transition: background-color 100ms linear;
}

/* .mod-top-left-space .workspace-leaf-content {
}

.mod-top-right-space .workspace-leaf-content {
} */
